

ul {
  list-style: none;
}


.menu {
  width: 100%;
  background-color: black;
  color: #fff;
  padding: 10px;
}

.menu-ul {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 40px;
  
}

.menu-ul > li {
  margin: 0 10px;
}

.cart {
  display:flex;
  justify-self: flex-end;
}

.lista-productos {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
}

.item-producto {
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid  black;
  margin: 10px;
  padding: 20px;
}

.button-agregar {
  border: 1px solid black;
  background-color: #fff;
  color: black;
  padding: 30px;
  margin-top:15px;
}
.menu-ul a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}


.img-checkout {
  width: 100px;
  height: 100px;
}

.item-checkout {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.item-checkout > div {
  margin-left: 10px;
}

.boton-borrar {
  border: 1px solid black;
  background-color: #fff;
  padding: 10px;
}

